<h1>Tech Today Authors</h1>
  <table>
    <tr>
      <th>Authors</th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
  <% @authors.each do |author| %>
    <tr>   
      <td><%= link_to author.first_name, author_path(author) %></td>
      <td><%= link_to author.last_name, author_path(author) %></td>
      <% if current_user %>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Delete', author_path(author), method: :delete, data: { confirm: 'Are you sure you want to delete this author?' } %></td>
      <% end %>
    </tr>
  </tbody>
   <% end %>

  </table>
  <br>
  <br>
<% if current_user %>
  <%= link_to 'Create a New Author', new_author_path %>
<% end %>
  <br>
<%= link_to 'Back to Home Page', root_path %>