<!DOCTYPE html>
<html>
<head>
  <title>Lesson11HomeworkAssociationsAndDeviseAuthentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Sign In", user_session_path %>
    <% end %>
  </nav>
  <% flash.each do |name, msg| %>
    <div class="<%= name %>">
      <%= msg %>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
